#app{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
    width: 60%;
    margin-left: 20%;

}
.tile{
    background-color: black;
    width: 90%;
    height: 110px;
   cursor: pointer;
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75)
}
.green{
    background-color: green;
    border-radius: 50%;
    animation-name: colors;
    animation-duration: 1s;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}

@keyframes colors {
    0% {background-color: black;}
    100% {
        background-color: green;
    }
}
